<script src="{{ 'pincode-checker.js' | asset_url }}" defer="defer"></script>
<div class="pincode_container">
  <div class="pincode_button-card">
    <input type="text" class="pin-input" placeholder="Enter pin-code to check">
    <button class="pin-check-button">CHECK</button>
  </div>
  <p class="alert_message"></p>
</div>
