.subtext1 {
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
}
.earth-background-img {
  position: relative;
  background-image: url(/cdn/shop/files/Earth-day-background.png);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.earth-center-img {
  width: 60%;
  margin: 0 auto;
}
.earth-input {
  font-family: Inter;
}
.earth-input .earth-input-text1 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fdfdfd;
}
.earth-input .earth-input-text1 .earth-input-text1-bold {
  color: #97ff5b;
}
.earth-input .earth-input-text2 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  color: #97ff5b;
}
.earth-input .earth-input-title3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.02em;
  text-align: left;
}

/* styles.css */
#userInput {
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}

#message {
  display: none;
  color: green;
  text-align: center;
  margin-top: 10px;
}
