{{ 'earth-day.css' | asset_url | stylesheet_tag }}
<div class="earth-background-bg">
  <div class="earth-background-img">
    <div class="earth-center-img">
      <img src="https://cdn.shopify.com/s/files/1/0785/1674/8585/files/Earth-day-typo.png">
    </div>

    <div class="earth-input">
      <p class="earth-input-text1">
        <span> Hint: Her net worth is over <span class="earth-input-text1-bold">$1 Trillion!</span></span>
      </p>

      <p class="earth-input-text2">Drop in your guesses below</p>

      <div class="earth-input-form">
        <input type="text" placeholder="Text" id="earth-input">
        <button id="earth-submit" type="submit" onclick="readInput()">Submit</button>
      </div>

      <div class="earth-input-text3" id="earth-results" style="visibility: hidden;">
        Will be revealed on Monday 22nd April!
      </div>
    </div>
  </div>
</div>

<script>
    function readInput() {
      const inputElement = document.getElementById("earth-input");
      const userInput = inputElement.value;

      if (userInput) {
        const resultsDisplay = document.getElementById("earth-results");
        resultsDisplay.style.visibility = 'visible';
        inputElement.disabled = true;
        document.getElementById("earth-submit").disabled = true;
      }
  }
</script>
