{{ 'earth-day.css' | asset_url | stylesheet_tag }} 


<div style="position: relative; height: 100vh; background-image: url(https://cdn.shopify.com/s/files/1/0785/1674/8585/files/Earth-day-background.png?v=1713613942); background-size: cover;">

  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 50%; height: auto; background-image: url(https://cdn.shopify.com/s/files/1/0785/1674/8585/files/Earth-day-typo.png?v=1713613940); background-size: contain; background-position: center; background-repeat: no-repeat;">
  </div>

</div>


<div> Madhumita</div>

<script>
  // alert("Custom JS for Earth")
</script>