<div style="background-image: url(https://cdn.shopify.com/s/files/1/0785/1674/8585/files/earth-day-sampl.jpg);
    height: 100vh;
    background-size: contain;">
  
</div>



<script>
  // alert("Custom JS for Earth")
</script>