{{ 'earth-day.css' | asset_url | stylesheet_tag }}

<div  class="earth-background-img">

  <div class="earth-center-img">
    <img src="https://cdn.shopify.com/s/files/1/0785/1674/8585/files/Earth-day-typo.png"/>
  </div>

  <div>
        <p class="text-style2">>
      <span> Hint: Her net worth is over $1 Trillion!</span>
    </p>

    <p class="text-style1">
      <span>Drop in your guesses below</span>
    </p>


    <form id="myForm" style="text-align: center;">
      <input type="text" id="userInput" placeholder="Text">
      <button type="submit">Submit</button>
    </form>

    <div id="message" style="display: none; color: green; text-align: center;">
      Will be revealed on Monday 22nd April
    </div>

  </div>

</div>

<script>
  // JavaScript
  document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevents the default form submission
    document.getElementById('message').style.display = 'block'; // Displays the message
  });
</script>
