{{ 'earth-day.css' | asset_url | stylesheet_tag }}

<div class="background-image-container">
  <div class="foreground-image-container">
    <div class="hint">
      Hint: Her net worth is over $1Trillion!
    </div>

    <div class="guesses">
      Drop in your guesses below
    </div>

    <form id="myForm">
      <input type="text" id="userInput" placeholder="Text">
      <button type="submit">Submit</button>
    </form>

    <div id="message">
      Will be revealed on Monday 22nd April
    </div>
  </div>
</div>

<script>
  // JavaScript
  document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevents the default form submission
    document.getElementById('message').style.display = 'block'; // Displays the message
  });
</script>
