{{ 'earth-day.css' | asset_url | stylesheet_tag }}

<div  class="earth-background-img">

  <div class="earth-center-img">
    <img src="https://cdn.shopify.com/s/files/1/0785/1674/8585/files/Earth-day-typo.png"/>
  </div>

  <div class="earth-input">
    <p class="earth-input-text1">
      <span> Hint: Her net worth is over <span class="earth-input-text1-bold">$1 Trillion!</span></span>
    </p>

    <p class="earth-input-text2">
      Drop in your guesses below
    </p>


    <form class="earth-input-form">
      <input type="text" placeholder="Text">
      <button type="submit">Submit</button>
    </form>

    <div class="earth-input-text3" style="visibility: hidden;">
      Will be revealed on Monday 22nd April
    </div>

  </div>

</div>

<script>
  // JavaScript
  document.getElementById('myForm').addEventListener('submit', function(event) {
    event.preventDefault(); // Prevents the default form submission
    document.getElementById('message').style.display = 'block'; // Displays the message
  });
</script>
